.flex__container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
	width: 100%;
	background-color: #fff;
	height: 100vh;
	flex-direction: row;
	overflow: auto;
}

.register__container-form-register {
	width: 50%;
	margin: 10 px;
	padding: 1rem;
	border-radius: 15px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0rem 10.5rem;
    padding-bottom: 8%;
}


@media screen and (max-width: 1024px) {
	.register__container-form-register{
		    width: 90%;
			justify-items: center;
			padding: 0;
			padding-right: 21px;
			padding-left: 44px;
	}
	
}