#content{
    flex-grow: 1;
    background-color: #F7F8FA;
    /* background-color: #f1f1f1; */
    padding: 2rem 4rem;
}

.content__note-title {
    color: #643FDB;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 0.8rem;
    margin-right: 0.7rem;
}
.content__note-title-input{
    border: 0;
    background-color: #F7F8FA;
    padding: 1rem;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
}
.content__divider{
    border: 0;
    border-bottom: 1px solid gainsboro;;
}

.content__note-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.content__note-list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.content__note-list-header svg{
    padding-top: 0px;
    font-size: 25px;
}

.content__note-list-header button{
    background-color: #643FDB;
    color: #F0F1F3;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    width: 25px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    margin-right: 4px;
    margin-bottom: 6px;
}
.content__note-list-header button:hover{
    background-color: #5228da;
    /* border: 1px solid #643FDB; */
    cursor: pointer;
}


.content__note-list-title {
    color: #343348;
    margin-bottom: 6px;
    margin-left: 4px;
}

.content__note-list-colum {
    width: 30vw;
    background: #F0F1F3;
    border-radius: 8px;
    padding: 6px 16px;
}

.content__note-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: white;
    padding: 4px 12px;
    margin: 6px 0px;
    border-radius: 4px;
}
.content__note-list-item button{
    margin: 0.1rem 0.3rem;
    padding: 0.3rem;
    border: 1px ;
    border-radius: 5px;

}
.content__note-list-item button:hover{
    cursor: pointer;
}
.button__delete:hover{
    background-color: #f97474;
    color: white;
}
.button__edit:hover{
    background-color: #abfa95;
}
.content__note-list-item:hover{
    box-shadow: 0 0 11px rgba(48, 48, 48, 0.2); 
}

.content__todo-check {
    margin-right: 8px;
}

@media screen and (max-width: 1024px) {
    .content__note-list-container {
        flex-direction: column;
    }
    .content__note-list-colum{
        width: 80vw;
    }
    .content__note-list-header button{
        margin-right: 2rem;
    }
    
}